<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="Db" connectionString="Server=CAREBTSPD1;initial catalog=shsbTraining;Integrated Security=False;User Id=sa;Password=Care@123" providerName="System.Data.SqlClient" />
    <add name="shsbTrainingEntities" connectionString="metadata=res://*/shsbTraining.csdl|res://*/shsbTraining.ssdl|res://*/shsbTraining.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CAREBTSPD1;initial catalog=shsbTraining;Integrated Security=False;User Id=sa;Password=Care@123;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Db" connectionString="Server=DESKTOP-IS2M88R;initial catalog=Training_under;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <!--<add name="shsbTrainingEntities" connectionString="metadata=res://*/shsbTraining.csdl|res://*/shsbTraining.ssdl|res://*/shsbTraining.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IS2M88R;initial catalog=Training_under;Integrated Security=true;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/shsbTraining.csdl|res://*/shsbTraining.ssdl|res://*/shsbTraining.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IS2M88R;initial catalog=Training_under;integrated security=True;multipleactiveresultsets=True;encrypt=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Training_underEntities" connectionString="metadata=res://*/SBATraining.csdl|res://*/SBATraining.ssdl|res://*/SBATraining.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IS2M88R;initial catalog=Training_under;integrated security=True;multipleactiveresultsets=True;encrypt=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="shsbTrainingEntities" connectionString="metadata=res://*/SBATraining.csdl|res://*/SBATraining.ssdl|res://*/SBATraining.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IS2M88R;initial catalog=Training_under;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>