<!-- start page title -->
<div class="row">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4>@ViewBag.Heading</h4>
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Election Planner</a></li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6 d-none">
        <div class="state-information d-none d-sm-block">
            <a style="padding-left:300px;font-weight:bold;" href="https://ceobihar.nic.in/" target="_blank">CHIEF ELECTORAL OFFICER, BIHAR</a>
        </div>
    </div>
</div>
<!-- end page title -->
