
@{
    ViewBag.Title = "Add Employee";
    ViewBag.Heading = "Employees";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#BlockId').attr('disabled', true);
        $('#FacilityId').attr('disabled', true);

        $('#DistrictId').on("change", function () {
            $('#BlockId').attr('disabled', false);
            var id =@Model.BlockId
            id = $(this).val();
            $('#BlockId').empty();
            $('#BlockId').append('<Option>-- select block --</Option>');
             $.ajax({
                 url: '/Employee/BindBlock/' + id,
                 success: function (result) {
                     $.each(result, function (i, data) {
                         $('#BlockId').append('<Option value=' + data.id + ' >' + data.name + '</Option>');
                     });
                 }
             });
        });


            $('#BlockId').on("change", function () {
                $('#FacilityId').attr('disabled', false);
              var id =@Model.FacilityId
              id = $(this).val();
                $('#FacilityId').empty();
                $('#FacilityId').append('<Option>-- select Facility --</Option>');
              $.ajax({
                  url: '/Employee/BindFacility/' + id,
                  success: function (result) {
                      $.each(result, function (i, data) {
                          $('#FacilityId').append('<Option value=' + data.id + ' >' + data.name + '</Option>');
                      });
                  }
              });
            });
    });
    
</script>


<div class="row">
    @Html.Partial("~/Views/Shared/_Breadcrumb.cshtml")
    <div class="col-xl-10 mx-auto">
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="card-header col-md-6">
                        <div class="text-md-start">
                            <button type="submit" class="btn btn-primary" onclick="window.location.href='/employee'">Employee List</button>
                        </div>
                    </div>
                    <div class="card-header col-md-6">
                        @Html.Partial("~/Views/Shared/MessageForm.cshtml")
                    </div>
                    <div class="card-header">
                        @using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            @Html.Partial("~/Views/Employee/Partial/_Employee.cshtml")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




